/* styles/globals.css */
html, body { padding: 0; margin: 0; font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji"; }
*, *::before, *::after { box-sizing: border-box; }
a { color: inherit; text-decoration: none; }
